.index-header {
    /* position: absolute; */
    position: relative;
    min-width: 1190px!important;
    width: 100%;
    height: 100px;
    max-height: 120px;
    overflow: hidden;
    /*background: url(../imgs/hd_bg.png);*/
    /*background: -ms-linear-gradient(top, #0249c9, #0e6fdc);*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0249c9), to(#0e6fdc)); /!*谷歌*!/*/
}

.head-bg {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    z-index: -10;
}

/*左侧LOGO和标题*/
.index-logo {
    position: absolute;
    top: 10px;
    left: 50px;
}

.head-logo {
    width: 80px;
    height: 80px;
}

.head-title {
    position: absolute;
    top: 20px;
    left: 150px;
}

.index-header .head-title h1 {
    font-size: 30px;
    color: #faf9f9;
    font-weight: normal;
}

.index-header .head-title h2 {
    font-size: 0.875em;
    color: #faf9f9;
    text-align: center;
    font-weight: normal;
}

/*右侧用户栏*/
.index-header .head-user {
    position: absolute;
    top: 35px;
    right: 80px;
    font-size: 18px;
    padding: 5px;
    display: block;
    color: #faf9f9;
}

.index-header .head-user a {
    color: #faf9f9;
}

.index-header .head-user a:hover {
    text-decoration: underline;
}

/*导航栏nav*/
.head-nav {
    /* position: absolute;
    top: 100px;
    left: 0; */
    min-width: 1190px!important;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: url(../../imgs/nav_bg.png) left -10px repeat-x;
}

.head-nav .nav-bar {
    width: auto;
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
}

.head-nav .nav-bar .nav-bar-list {
    float: left;
    display: inline;
    width: auto;
    padding: 0 20px;
    font-size: 1.5em;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

/* 显示当前时间 */
 #time{
	float: left;
	display: inline;
    width: auto;
    padding: 0 20px;
    font-size: 1.25em;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #faf9f9;
}

/* 导航栏菜单鼠标经过和点击样式 */
.head-nav .nav-bar .nav-bar-list:hover {
	background: #167ebb;
}

.head-nav .nav-bar li.bar-hover {
	background: url(../../imgs/nav_bg1.png) left -10px repeat-x;
}

.nav-bar .nav-bar-list a {
    color: #faf9f9;
    text-decoration: none;
}

/*导航栏分隔线*/
.head-nav .nav-bar .nav-line {
    float: left;
    display: inline;
}

.nav-bar .nav-line img {
    float: left;
    height: 40px;
}