.login-main{
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-bg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-box-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 680px;
    height: 380px;
    margin-left: -360px;
    margin-top: -210px;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
}

.static-form{
    position: relative;
    padding: 20px;
    display: block;
}

/*登录框*/
.login-box{
    width: 100%;
}

/*登录标题*/
.login-title{
    position: relative;
    height:120px;
    line-height: 120px;
    font-size: 24px;
}

.login-title1,.login-title2{
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    padding-left: 100px;
    text-align: center;
}

/*登录logo*/
.login-logo img{
    position: absolute;
    left: 100px;
    width:120px;
    height:120px;
}

/*登录信息表单提交块*/
.static-form .field{
    margin-top: 30px;
    position: relative;
}

.static-form .field label {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    position: absolute;
    left: 100px;
    top: 1px;
    outline: 0;
}

.static-form .login-text {
    position: relative;
    left: 230px;
    width: 250px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    padding: 11px 8px 11px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.static-form .submit {
    margin: 30px auto 0;
    text-align: center;
}

/*登录按钮*/
.login-box-wrap .submit button {
    width: 120px;
    margin: 0 50px;
    height: 42px;
    border: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #2987FB;
    border-radius: 3px;
    cursor: pointer;
    zoom: 1;
}

/*视频控件下载*/
.login-main .login-control{
    position: relative;
    top: 25px;
    left: 0;
}

/*底部部分*/
.login-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 50px;
    font-size: 16px;
    background: #12b0d6;
}

/*底部logo，开发商和版本号*/
.footer-logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20%;
}

.login-footer .copyright{
    float: left;
    color: #ffffff;
    margin-left: 10px;
}

.login-footer .version{
    float: left;
    color: #ffffff;
    margin-left: 20%;
}

/*.linear{*/
/*width:100%;*/

/*height:100%;*/

/*FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /!*IE 6 7 8*!/*/

/*background: -ms-linear-gradient(top, #fff,  #0000ff);        /!* IE 10 *!/*/

/*background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/!*火狐*!/*/

/*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));/!*谷歌*!/*/

/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      /!* Safari 4-5, Chrome 1-9*!/*/

/*background: -webkit-linear-gradient(top, #fff, #0000ff);   /!*Safari5.1 Chrome 10+*!/*/

/*background: -o-linear-gradient(top, #fff, #0000ff);  /!*Opera 11.10+*!/*/

/*}*/